<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerFragment">
			 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
			<link th:href="@{/style/app.css}" rel="stylesheet" />
	</head>
<body>
		<div class="container" style="padding-top: 50px;">
			<div th:fragment="menuFragment">
				<div class="header well">
					<img th:src="@{/images/springsource_banner_green.png}"/>
				</div>
				<div class="page-header">
					<h1 th:text="${title}"></h1>
				</div>	
				<ul>
					<li><a th:href="@{/users/all/jsp-plain.htm}">No template</a></li>
					<li><a th:href="@{/users/all/jsp-custom-1.htm}">Custom tags</a></li>
					<li><a th:href="@{/users/all/jsp-custom-2.htm}">Custom tags with table tag</a></li>
					<li><a th:href="@{/users/all/jsp-tiles.htm}">Apache Tiles</a></li>
					<li><a th:href="@{/users/all/thymeleaf.htm}">Thymeleaf</a></li>
				</ul>
			</div>
		</div>
		
</body>
</html>