<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerFragment">
			<link th:src="@{/style/app.css}" rel="stylesheet"/>
	</head>
<body>
		<div th:fragment="menuFragment">
			<div class="header well">
				<img th:src="@{/images/springsource_banner_green.png}"/>
			</div>
			<div class="page-header">
				<h1 th:text="${title}"></h1>
			</div>	
			<ul>
				<li><a th:href="@{/users/all/jsp-plain.htm}">No template</a></li>
				<li><a th:href="@{/users/all/custom-tags.htm}">Custom tags</a></li>
				<li><a th:href="@{/users/all/tiles.htm}">Apache Tiles</a></li>
				<li><a th:href="@{/users/all/thymeleaf.htm}">Thymeleaf</a></li>
			</ul>
		</div>
		
</body>
</html>